<?xml version='1.0' encoding='GBK' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="mycompany.oracle.apps.fnd.framework.toolbox.tutorial.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="MyCompanyPoSummaryVO"
      FullName="mycompany.oracle.apps.fnd.framework.toolbox.tutorial.server.MyCompanyPoSummaryVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
