<?xml version='1.0' encoding='GBK' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="oracle.apps.fnd.framework.toolbox.lov.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="AllPOsExpVO"
      FullName="oracle.apps.fnd.framework.toolbox.lov.server.AllPOsExpVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="EmployeeNamesVO"
      FullName="oracle.apps.fnd.framework.toolbox.lov.server.EmployeeNamesVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="EmployeesLOVVO"
      FullName="oracle.apps.fnd.framework.toolbox.lov.server.EmployeesLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="LabSolutionsLOVAM"
      FullName="oracle.apps.fnd.framework.toolbox.lov.server.LabSolutionsLOVAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="SupplierSitesLOVVO"
      FullName="oracle.apps.fnd.framework.toolbox.lov.server.SupplierSitesLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="SuppliersLOVVO"
      FullName="oracle.apps.fnd.framework.toolbox.lov.server.SuppliersLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TutorialLOVAM"
      FullName="oracle.apps.fnd.framework.toolbox.lov.server.TutorialLOVAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="ValidBuyersExpVO"
      FullName="oracle.apps.fnd.framework.toolbox.lov.server.ValidBuyersExpVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
